body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.login-container {
  width: 300px;
  margin: 150px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #2E7D32;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.navbar {
  background: #2E7D32;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.animal-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}